.rtl_language.landing_page .navigation ul.navbar-nav
{
margin-right: auto;
margin-left: 0px;
}

.rtl_language .hero_section > .introduction
{
direction: ltr;
}

.rtl_language .groups_list .groups .card > .card-body > .card-title
{
text-align: right;
}

.rtl_language .groups_list .groups .card > .card-body > .card-text
{
text-align: right;
}

.rtl_language.landing_page .available_membership_packages .available_packages .pricing-table-container>.pricing-table
{
text-align: right;
direction: rtl;
}

.rtl_language .frequently_asked_questions .questions > .item > .question:after
{
margin-left: 0px;
margin-right: auto;
}

.rtl_language .frequently_asked_questions .questions > .item.open > .answer
{
text-align: right;
}

.rtl_language.landing_page .available_membership_packages .available_packages>div>.header>div>.right
{
text-align: left;
}

.rtl_language.landing_page .available_membership_packages .available_packages .pricing-table-container>.pricing-table>.pricing-body>ul>li>svg
{
margin-right: 0px;
margin-left: 4px;
}

.rtl_language.landing_page .available_membership_packages .available_packages>div>.header>div>.right>span
{
margin-right: 0px;
margin-left: 9px;
}

.rtl_language.landing_page .available_membership_packages .available_packages .pricing-table-container
{
direction: ltr;
}