.rtl_language .entry_box .form_container > form > .field.checkbox > label > .text
{
margin-left: 0px;
margin-right: 10px;
}

.rtl_language .modal-header .btn-close
{
padding: .5rem .5rem;
margin: 0px;
}

.rtl_language .iti--allow-dropdown input, .rtl_language .iti--allow-dropdown input[type=text]
{
padding-right: 38px;
padding-left: 8px;
}

.rtl_language .iti__arrow
{
margin-right: 4px;
}

.ltr_language.entry_page .modal-header .btn-close
{
margin-left: auto;
}

.rtl_language.entry_page .modal-header .btn-close
{
margin-right: auto;
}

.rtl_language .iti__country-list > .iti__country
{
text-align: right;
}

.rtl_language .iti__country-list > .iti__country > .iti__flag-box
{
margin-right: 0px;
margin-left: 6px;
}